@media screen and (min-width:1241px) and (max-width:1500px) {
    
}

@media screen and (min-width:1025px) and (max-width:1240px) {
    .new-collection{padding: 50px 0px;}
    .facility{padding: 40px 0px;}
    .facility-card-cnt p{width: 100%;}
    .wear-to-wedding{padding-bottom: 70px;}
    .filter-color-codes{grid-template-columns: 1fr 1fr 1fr;}
    .product-add-btn a{padding: 15px 90px;}
    .also-like{padding-top: 0px;}
    .cart-promo-input input, .cart-promo-input, .cart-promo-btn.btn, .cart-promo-btn a{width: 100%;}

}

@media screen and (min-width:992px) and (max-width:1024px) {
    .new-collection{padding: 50px 0px;}
    .different-section{padding: 40px 0px;}
    .facility{padding: 40px 0px;}
    .facility-card-cnt p{width: 100%;}
    .wear-to-wedding{padding-bottom: 70px;}
    .filter-color-codes{grid-template-columns: 1fr 1fr 1fr;}
    .product-add-btn a{padding: 15px 80px;}
    .also-like{padding-top: 0px;}
    .cart-promo-input input, .cart-promo-input, .cart-promo-btn.btn, .cart-promo-btn a{width: 100%;}
    .happy-customer-slider{grid-template-columns: 1fr 1fr;}

}

@media screen and (min-width:768px) and (max-width:991px) {
    .card-mobile-view{display: block;} .carousel-control-prev, .carousel-control-next{width: 40px; height: 80px; padding-left: 15px;}
    .new-collection{padding: 50px;}
    .facility-card-cnt{margin-bottom: 40px;}
    .facility-content{padding-bottom: 10px;}
    .wedding-outfit-img img{height: 200px;}
    .wear-to-wedding{padding-top: 0px; padding-bottom: 70px;}
    .footer-cnt{margin-bottom: 40px;}
    .footer-links{justify-content: left;}
    .category-sorting{width: 215px;}
    .product-name h3{font-size: 28px;}
    .product-main-price h5{font-size: 20px;}
    .product-paragraph p{font-size: 16px;}
    .product-item input{padding: 10px 20px;}
    .product-add-btn a{padding: 10px 34px;}
    .cart-item-name h4{font-size: 20px;}
    .cart-item-name h6{font-size: 15px;}
    .cart-item-name h3{font-size: 21px;}
    .cart-item-calc input{width: 115px;}
    .cart-item-calc .btn-plus{left: 10px;}
    .cart-item-calc .btn-plus{left: 80px;}
    .cart-payment-head h3{font-size: 23px;}
    .cart-pay-price h5{font-size: 18px;}
    .cart-pay-price h4{font-size: 18px;}
    .cart-pay-total h5{font-size: 18px;}
    .cart-pay-total h4{font-size: 22px;}
    .cart-promo-input input{width: 100%;}
    .cart-promo-input .btn-minus{font-size: 20px; left: 15px; bottom: 5px;}
    .cart-promo-input ::placeholder { padding-left: 0px; font-size: 18px; }
    .cart-promo-btn.btn,.cart-promo-btn a{width: 100%;}
    .cart-check-out a{padding: 15px 55px; text-align: center;}
    .happy-customer-slider{grid-template-columns: 1fr 1fr;}
    .category-pagination.pagination-mobile-view{display: block;}
    .category-pagination{display: none;}

}

@media (max-width: 767px) {
    .search-item{display: none;}
    .card-mobile-view{display: block;}

    .heading h3{font-size: 35px;}
    .heading h5{font-size: 17px;}
    .nav-logo{font-size: 30px;}
    .banner{padding: 20px;}
    .carousel-control-prev{width: 30px; height: 60px; padding-left: 12px;}
    .carousel-control-next{width: 30px; height: 60px; padding-left: 12px;}
    .carousel-indicators li{width: 20px;height: 2px;}
    .new-collection{padding: 40px 0px;}
    .coll-heading h3{font-size: 35px;}
    .coll-heading h5{font-size: 17px;}
    .facility{padding: 40px 0px;}
    .facility-content{padding: 40px 50px; padding-bottom: 0px;}
    .facility-card-cnt i{width: 100px;}
    .facility-card-cnt p{width: 100%;}
    .facility-card-cnt{margin-bottom: 40px;}
    .different-section{padding: 40px 0px;}
    .wedding-outfit-img img{width: 100%; height: 170px;}
    .wear-to-wedding{padding-bottom: 70px;}
    .btn-wrap-about{width: 100px;}
    .footer-links{justify-content: left;}
    .footer-cnt{margin-bottom: 40px;}
    .footer{padding-bottom: 10px;}
    .copyright-content{flex-wrap: wrap; justify-content: center;}
    .copyright-content h6{margin-bottom: 20px;}
    .category-pagination a{font-size: 15px;}
    .cart-dtl{margin-bottom: 20px;}
    .cart-promo-input input, .cart-promo-input, .cart-promo-btn.btn, .cart-promo-btn a{width: 100%;}
    .cart-check-out a{text-align: center;}
    .cart-details-main{padding-bottom: 50px;}
    .happy-customer-slider{grid-template-columns: 1fr 1fr;}
    .pagination-mobile-view{display: block;}
    .category-pagination.pagination-mobile-view{display: block;}
    .category-pagination{display: none;}

}

@media screen and (max-width:575px) {
    .page-mobile-view{display: block;}
    .category-page-number{display: none;}

    .heading h3{font-size: 32px;}
    .heading h5{font-size: 16px;}
    .product-name h3{font-size: 27px;}
    .product-main-price h5{font-size: 22px;}
    .product-paragraph p{font-size: 17px;}
    .product-item input{width: 130px; padding: 10px 20px;}
    .product-item .btn-minus{left: 10px; bottom: 7px;}
    .product-item .btn-plus{left: 95px; bottom: 7px;}
    .product-add-btn a{padding: 10px 75px;}
    .coll-card-txt h4{font-size: 20px;}
    .coll-card-txt h6{width: 100%; font-size: 14px;}
    .filter-apply-btn a{font-size: 15px;}
    .category-sorting{width: 215px;}
    .cart-head h3{font-size: 32px;}
    .cart-item-name h4{font-size: 21px;}
    .cart-item-name h6{font-size: 13px;}
    .cart-item-name h3{font-size: 22px; margin-top: 6px;}
    .item-name-delete i{font-size: 18px;}
    .cart-item-calc input{width: 110px; padding: 10px 20px;}
    .cart-item-calc .btn-minus{left: 10px; bottom: 7px;}
    .cart-item-calc .btn-plus{left: 80px; bottom: 7px;}
    .cart-pay-price h5, .cart-pay-price h4, .cart-pay-total h5{font-size: 18px;}
    .cart-pay-total h4{font-size: 22px;}
    .cart-pay-total{margin-bottom: 20px;}
    .cart-promo-btn a{padding: 10px 0px;}
    .product-child-img img{margin-bottom: 10px; border-radius: 10px;}
    .happy-customer-slider{grid-template-columns: 1fr;}
    .category-pagination.pagination-mobile-view{display: block;}
    .category-pagination{display: none;}
    .mobile-view{display: block;}
    .tablet-view{display: none;}

    .sign-up-offer-line p, .sign-up-offer-line a{font-size: 14px;}
    .sign-up-offer-line{width: 100%;}
    .sign-up-offer .container{padding: 0;}
    .sign-up-offer-content.signup-mobile-view{display: block;}
    .sign-up-offer-content{display: none;}

}


@media screen and (max-width:480px) {
    .btn{padding: 15px 0px;}
    .rv-btn-text{display: none;}
    .rv-btn-icon{display: block;}

    .nav-logo{font-size: 25px;}
    .nav-toggle-menu, .nav-toggle-close{font-size: 22px;}
    .avtar{max-width: 35px; height: 35px;}
    .nav-responsive-view{gap: 15px;}
    .banner{padding: 10px;}
    .carousel-control-prev, .carousel-control-next{display: none;}
    .new-collection{padding: 30px 0px;}
    .heading h3{font-size: 25px; margin-bottom: 7px;}
    .heading h5{font-size: 14px;}
    .coll-heading{padding-bottom: 20px;}
    .coll-card-txt h4{font-size: 18px;}
    .coll-card-txt h6{font-size: 13px;line-height: 15px;}
    .coll-card-price h5{font-size: 17px;}
    .facility{padding: 30px 0px;}
    .different-section{padding: 30px 0px;}
    .wear-to-wedding{padding: 30px 0px;}
    .happy-customer-head h3{font-size: 23px;}
    .customer-slider-arrow i{font-size: 21px;}
    .copyright-terms-condition ul{flex-wrap: wrap; justify-content: center; gap: 0px;}
    .copyright-terms-condition a{margin: 7px 0px;}
    .product-perent-img{margin: 5px 0px; margin-left: 10px;}
    .product-child-img img{margin: 5px 0px;}
    .product-child-img img, .product-perent-img img{border-radius: 7px;}
    .page-path h6{font-size: 13px;}
    .product-details{padding: 20px 0px;}
    .product-name h3{font-size: 23px;}
    .product-main-price h5{font-size: 20px;}
    .product-paragraph p{font-size: 16px; line-height: 23px;}
    .product-add-to-cart{flex-wrap: wrap; justify-content: center; gap: 15px;}
    .product-add-btn a{padding: 10px 80px; text-align: center;}
    .client-link{font-size: 15px;}
    .client-link.active{font-size: 15px;}
    .review-head-btn button{padding: 7px 14px; font-size: 15px;}
    .client-tab-cnt .container{padding: 0;}
    .client-review-head{margin-bottom: 20px;}
    .review-five-star img{width: 90px; margin-bottom: 7px;}
    .review-card-cnt{padding: 15px 20px; margin-bottom: 20px;}
    .review-name h5{font-size: 19px;}
    .review-card-blue-tick img{width: 13px;}
    .review-name{align-items: center; margin-bottom: 7px;}
    .review-paragraph p{font-size: 15px; line-height: 20px;}
    .review-card-more-btn{margin-top: 10px;}
    .also-like{padding: 0;}
    .also-head h3{font-size: 25px; margin-bottom: 25px;}
    .cart-head h3{font-size: 25px; margin: 20px 0px;}
    .cart-item-name-sec{flex-wrap: wrap; justify-content: center;}
    .cart-item-name{margin: 0;}
    .cart-item-img img{margin-bottom: 15px;}
    .cart-pay-price h5, .cart-pay-price h4, .cart-pay-total h5{font-size: 16px;}
    .cart-pay-total h4{font-size: 20px;}
    .cart-promo-input .btn-minus{font-size: 20px; bottom: 7px; left: 15px;}
    .cart-promo-input input{padding-left: 35px;}
    .cart-promo-input ::placeholder{font-size: 18px;}
    .cart-check-out a{padding: 15px 30px;}

}


/* ========================= Extra BreakPoints For ========================= */
@media screen and (min-width: 1118px) {
    .nav-toggle{display: none;}
    .nav-list{display: flex; column-gap: 30px; height: 100%; justify-content: center; align-items: center;}
    .nav li{display: flex;}
    .nav-link{padding: 0;}

}


@media screen and (max-width: 1118px) {
    .nav-mobile-view{display: block;}
    .nav-only-mobile{display: flex; align-items: center;}
    .nav-responsive-view{display: flex; align-items: center;}
    .main-links{display: block; position: absolute; top: 50px; left: 30px;}
    .nav-link{color: #181C1F; font-size: 25px; font-family: 'Int-SemiBold';}
    .nav-menu{display: block;}
    
}