@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('fonts/Poppins-ExtraBoldItalic.eot');
    src: url('fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.eot');
    src: url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff'),
        url('fonts/Poppins-Medium.ttf') format('truetype'),
        url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('fonts/Poppins-Italic.eot');
    src: url('fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff'),
        url('fonts/Poppins-Italic.ttf') format('truetype'),
        url('fonts/Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('fonts/Poppins-BlackItalic.eot');
    src: url('fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('fonts/Poppins-BlackItalic.woff') format('woff'),
        url('fonts/Poppins-BlackItalic.ttf') format('truetype'),
        url('fonts/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.eot');
    src: url('fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLight.woff') format('woff'),
        url('fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('fonts/Poppins-ExtraLightItalic.eot');
    src: url('fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('fonts/Poppins-SemiBoldItalic.eot');
    src: url('fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-SemiBoldItalic.woff') format('woff'),
        url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('fonts/Poppins-BoldItalic.eot');
    src: url('fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-BoldItalic.woff') format('woff'),
        url('fonts/Poppins-BoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('fonts/Poppins-LightItalic.eot');
    src: url('fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('fonts/Poppins-LightItalic.woff') format('woff'),
        url('fonts/Poppins-LightItalic.ttf') format('truetype'),
        url('fonts/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.eot');
    src: url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff'),
        url('fonts/Poppins-Bold.ttf') format('truetype'),
        url('fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('fonts/Poppins-ThinItalic.eot');
    src: url('fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('fonts/Poppins-ThinItalic.woff') format('woff'),
        url('fonts/Poppins-ThinItalic.ttf') format('truetype'),
        url('fonts/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.eot');
    src: url('fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff'),
        url('fonts/Poppins-Black.ttf') format('truetype'),
        url('fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.eot');
    src: url('fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff'),
        url('fonts/Poppins-Light.ttf') format('truetype'),
        url('fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('fonts/Poppins-ExtraBold.eot');
    src: url('fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBold.woff') format('woff'),
        url('fonts/Poppins-ExtraBold.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('fonts/Poppins-Thin.eot');
    src: url('fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Thin.woff2') format('woff2'),
        url('fonts/Poppins-Thin.woff') format('woff'),
        url('fonts/Poppins-Thin.ttf') format('truetype'),
        url('fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display:swap;
}

/* ************************************************************************* */
/* Integral-Sans */

@font-face {
    font-family: 'Int-Bold';
    src: url(../css/fonts/Integral-CF/Integralcf-bold.otf);
}

@font-face {
    font-family: 'Int-ExtraBold';
    src: url(../css/fonts/Integral-CF/Integralcf-extrabold.otf);
}

@font-face {
    font-family: 'Int-Heavy';
    src: url(../css/fonts/Integral-CF/Integralcf-heavy.otf);
}

@font-face {
    font-family: 'Int-Medium';
    src: url(../css/fonts/Integral-CF/Integralcf-medium.otf);
}

@font-face {
    font-family: 'Int-Regular';
    src: url(../css/fonts/Integral-CF/Integralcf-regular.otf);
}

@font-face {
    font-family: 'Int-SemiBold';
    src: url(../css/fonts/Integral-CF/Integralcf-semibold.otf);
}

/* SF-Pro */

@font-face {
    font-family: 'Sf-Bold';
    src: url(../css/fonts/sf-pro/SF-Pro-Text-Bold.otf);
}

@font-face {
    font-family: 'Sf-Light';
    src: url(../css/fonts/sf-pro/SF-Pro-Text-Light.otf);
}

@font-face {
    font-family: 'Sf-Medium';
    src: url(../css/fonts/sf-pro/SF-Pro-Text-Medium.otf);
}

@font-face {
    font-family: 'Sf-Regular';
    src: url(../css/fonts/sf-pro/SF-Pro-Text-Regular.otf);
}

@font-face {
    font-family: 'Sf-SemiBold';
    src: url(../css/fonts/sf-pro/SF-Pro-Text-Semibold.otf);
}

/* ************************************************ */

img{max-width:100%;}
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline:0;
}
h1,h2,h3,h4,h5,h6,p{margin:0px;}
input:focus{outline:0;}
textarea:focus{outline:0;}
button:focus{outline:0;}
a{cursor: pointer;text-decoration:none;transition:all 0.5s ease;}
a:focus, a:hover{text-decoration:none;outline:0;}
.TC{text-align:center;}
.TL{text-align:left;}
.TR{text-align:right;}
.margin_auto{margin:auto;float:none;}
.padding{padding:0;}
.al{width:100%;height:100%;display:table;}
.alm{width:100%;height:100%;display:table-cell;vertical-align:middle;}
abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
body{
    font-family: 'Sf-Regular';
}
.p_0{
    padding: 0px;
}
.pl-0{
    padding-left: 0px;
}
li
{
    list-style: none;
}
.main{
    width: 100%;
}
.container{
    width: 100%;
    /* max-width: 1170px; */
    max-width: 95%;
    margin: 0px auto;
}

/* ******************************************************************************************** */
/* common elements */
::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track{background: transparent;} 
::-webkit-scrollbar-thumb{background: #888;} 

.heading
{
    text-align: center;
}

.heading h3
{
    color: #181C1F;
    font-family: 'Int-Bold';
    font-size: 40px;
    margin-bottom: 10px;
}

.heading h5
{
    color: #a4a4a4;
    font-family: 'Sf-Regular';
    font-size: 18px;
    margin-bottom: 10px;
}

.btn
{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin: 0 auto;
}

.btn a
{
    color: #fff;
    background-color: #181C1F;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 17px;
}



/* ******************************************************************************************** */
.header {
    width: 100%;
    box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
    background-color: #fff;
}

.nav-only-mobile
{
    display: none;
}

/*=============== NAV ===============*/
.nav
{
    /* padding: 15px 30px; */
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20%; */
}

.nav-data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: inline-flex;
    align-items: center;
    color: #181C1F;
    font-family: 'Int-Bold';
    font-size: 30px;
    transition: color 0.3s;
}

.nav-logo:hover
{
    color: #181C1F;
}

.nav-toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav-toggle-menu,
.nav-toggle-close {
    font-size: 25px;
    color: #181C1F;
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
}

.nav-toggle-close {
    opacity: 0;
}

@media screen and (max-width: 1118px) {
    .nav-data
    {
        width: 100%;
    }

    .nav-menu {
        background-color: var(--body-color);
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        padding-block: 1.5rem 4rem;
        pointer-events: none;
        opacity: 0;
        /* transition: top 0.4s, opacity 0.3s; */
    }

    .nav-menu::-webkit-scrollbar {
        width: 0.5rem;
    }

    .nav-menu::-webkit-scrollbar-thumb {
        background-color: hsl(220, 12%, 70%);
    }

    .nav-dektop
    {
        display: none;
    }

}

.nav-mobile-view
{
    display: none;
}

.nav-desktop-view
{
    display: flex;
    align-items: center;
}

.nav-responsive-view
{
    display: flex;
    gap: 30px;
}

.nav-link {
    color: #181C1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Sf-Regular';
    font-size: 16px;
}

.nav-link:hover
{
    color: #181C1F;
}

.nav-menu
{
    display: flex;
    align-items: center;
}

.nav-list
{
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-menu {
    opacity: 1;
    top: 75px;
    padding-left: 30px;
    pointer-events: initial;
    background-color: #F2F0F1;
    z-index: 100;
}

.show-icon .nav-toggle-menu {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav-toggle-close {
    opacity: 1;
    transform: rotate(90deg);
}

.search-item input
{
    width: 100%;
    background-color: #F0F0F0;
    border: none;
    padding: 10px 20px;
    padding-left: 45px;
    border-radius: 7px;
}

.search-item i {
    position: absolute;
    padding-top: 13px;
    padding-left: 15px;
}

.cart
{
    font-size: 18px;
}

.avtar
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-search
{
    padding: 0px 20px;
}

.main-cart-avtar
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner
{
    padding: 30px;
}

.carousel-inner
{
    border-radius: 10px;
}

.carousel-item img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.carousel-control-prev
{
    color: #181C1F;
    background-color: #fff;
    width: 50px;
    height: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    margin: auto 0;
    opacity: 1;
}

.carousel-control-next
{
    color: #181C1F;
    background-color: #fff;
    width: 50px;
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    margin: auto 0;
    opacity: 1;
}

.carousel-control-prev:hover
{
    color: #181C1F;
    opacity: 1;
}

.carousel-control-next:hover
{
    color: #181C1F;
    opacity: 1;
}

.brand
{
    width: 100%;
    max-height: 100px;
}

.brand-logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo img
{
    padding: 30px 0px;
}

.brand-content
{
    background-color: #181C1F;
    padding: 30px;
}

.brand-track {
    /* position: absolute; */
    /* will-change: transform; */
    white-space: nowrap;
    animation: marquee 8s linear infinite;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .brand-track p
{
    color: #fff;
    font-family: 'Int-Regular';
    letter-spacing: 2px;
    font-size: 40px;
} */

.brand-track img
{
    color: #fff;
    font-family: 'Int-Regular';
    letter-spacing: 2px;
    font-size: 40px;
}

/* @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
} */

/* *************************************** New Collection ********************************************* */

.new-collection
{
    padding: 70px 0px;
}

.coll-heading
{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.coll-heading h3
{
    color: #181C1F;
    font-family: 'Int-Bold';
    font-size: 40px;
    margin-bottom: 10px;
}

.coll-heading h5
{
    color: #a4a4a4;
    font-family: 'Sf-Regular';
    font-size: 18px;
    margin-bottom: 10px;
}

.coll-card-cnt
{
    margin-bottom: 30px;
}

.coll-card-cnt img
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.coll-card-txt
{
    text-align: left;
}

.coll-card-txt h4
{
    color: #181C1F;
    font-size: 22px;
    font-family: 'Sf-Bold';
    margin-bottom: 5px;
}

.coll-card-txt h6
{
    width: 300px;
    color: #a4a4a4;
    font-size: 15px;
    font-family: 'Sf-Regular';
    line-height: 20px;
    margin-bottom: 5px;
}

.coll-card-price
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.coll-card-price h5
{
    color: #181C1F;
    font-size: 18px;
    font-family: 'Sf-SemiBold';
}

.coll-card-price h6
{
    width: 30px;
    color: rgb(17, 16, 19, 0.5);
    font-size: 18px;
    font-family: 'Sf-SemiBold';
    margin-top: 3px;
}

.coll-card-price-discount p
{
    color: #FF3333;
    background-color: rgb(255, 51, 51, 0.1);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 30px;
}

/* ***************************** facility ************************************ */

.facility
{
    padding: 60px 0px;
}

.facility-content
{
    color: #fff;
    background-color: #181C1F;
    border-radius: 15px;
    padding: 50px 80px;
    text-align: center;
}

.facility-card-cnt i
{
    width: 100%;
    font-size: 30px;
    color: #e3e3e3;
    margin-bottom: 15px;
}

.facility-card-cnt h6
{
    width: 100%;
    color: #e3e3e3;
    font-size: 20px;
    font-family: 'Sf-Bold';
    margin-bottom: 6px;
}

.facility-card-cnt p
{
    width: 250px;
    color: #e3e3e3;
    font-size: 14px;
    font-family: 'Sf-Light';
    margin: 0 auto;
    text-align: center;
}


/* ***************************** wear to weding ************************************ */

.wear-to-wedding
{
    padding: 40px 0px;
    padding-bottom: 100px;
}

.wedding-outfit-img img
{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}


/* ***************************** different sectioin ************************************ */

.different-section
{
    padding: 70px 0px;
}

.diff-sec-cnt
{
    margin-bottom: 30px;
}

.diff-sec-img img
{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;

    position: relative;
}

.diff-sec-txt
{
    position: absolute;
    bottom: 60px;
    left: 50px;
    z-index: 10;
}

.diff-sec-txt h3
{
    color: #fff;
    font-family: 'Sf-Bold';
    margin-bottom: 10px;
}

.diff-btn
{
    padding: 0;
}

.diff-btn a
{
    color: #181C1F;
    background-color: #fff;
}

/* ************************** happy customer slider *************************** */

.happy-customer
{
    /* padding: 30px 0px; */
    padding-bottom: 70px;
}

.happy-customer-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.customer-slider-arrow button
{
    border: none;
    background: none;
}

.customer-slider-arrow i
{
    font-size: 25px;
    padding-right: 10px;
}

.happy-customer-head h3
{
    text-align: left;
}

.customer-slider-cnt
{
    padding: 30px;
    margin: 0px 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 15px;
}

.customer-five-star img
{
    width: 120px;
    margin-bottom: 10px;
}

.customer-name-tick
{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.customer-name-tick h5
{
    color: #181C1F;
    font-size: 20px;
    font-family: 'Sf-Bold';
}

.name-blue-tick img
{
    width: 20px;
}

.customer-paragraph p
{
    color: #181C1F;
    font-size: 15px;
    font-family: 'Sf-Light';

}

/* ******************************* footer *********************************** */

.footer
{
    background-color: #F0F0F0;
    padding: 50px 0px;
}

.footer-paragraph h3
{
    color: #181C1F;
    font-size: 30px;
    font-family: 'Int-Bold';
    margin-bottom: 15px;
}

.footer-paragraph p
{
    color: #606060;
    font-size: 17px;
    font-family: 'Sf-Light';
    margin-bottom: 15px;
}

.footer-social-media i
{
    color: #181C1F;
    font-size: 22px;
    margin-right: 10px;
}

.footer-links
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.footer-links h5
{
    color: #000;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: 'Sf-SemiBold';
    margin-bottom: 20px;
}

.footer-links li
{
    margin-bottom: 5px;
}

.footer-links a
{
    color: #606060;
    font-size: 16px;
    font-family: 'Sf-Light';
}

.copyright
{
    color: #cfcfcf;
    background-color: #181C1F;
    padding: 20px 0px;
}

.copyright-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-content h6
{
    color: #cfcfcf;
    font-size: 15px;
    font-family: 'Sf-Light';
    letter-spacing: 0.5px;
}

.copyright-terms-condition ul
{
    display: flex;
    align-items: center;
    margin: 0;
}

.copyright-terms-condition a
{
    color: #cfcfcf;
    margin-left: 30px;
    font-size: 15px;
    font-family: 'Sf-Light';
}

.copyright-terms-condition a:hover
{
    color: #20A0FD;
    text-decoration: underline;
}






























































































































