/* temparory */

.temparory-link
{
    padding: 100px 0px;
}

.temparory-link-cnt a
{
    color: #181C1F;
    font-size: 20px;
    font-family: 'Int-Bold';
    border: 2px solid #181C1F;
    padding: 20px 40px;
}

/* =================== */
@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url('fonts/Poppins-ExtraBoldItalic.eot');
    src: url('fonts/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('fonts/Poppins-Medium.eot');
    src: url('fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Medium.woff2') format('woff2'),
        url('fonts/Poppins-Medium.woff') format('woff'),
        url('fonts/Poppins-Medium.ttf') format('truetype'),
        url('fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('fonts/Poppins-Italic.eot');
    src: url('fonts/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Italic.woff2') format('woff2'),
        url('fonts/Poppins-Italic.woff') format('woff'),
        url('fonts/Poppins-Italic.ttf') format('truetype'),
        url('fonts/Poppins-Italic.svg#Poppins-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('fonts/Poppins-SemiBold.eot');
    src: url('fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('fonts/Poppins-SemiBold.woff') format('woff'),
        url('fonts/Poppins-SemiBold.ttf') format('truetype'),
        url('fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url('fonts/Poppins-BlackItalic.eot');
    src: url('fonts/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BlackItalic.woff2') format('woff2'),
        url('fonts/Poppins-BlackItalic.woff') format('woff'),
        url('fonts/Poppins-BlackItalic.ttf') format('truetype'),
        url('fonts/Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url('fonts/Poppins-ExtraLight.eot');
    src: url('fonts/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLight.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLight.woff') format('woff'),
        url('fonts/Poppins-ExtraLight.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url('fonts/Poppins-ExtraLightItalic.eot');
    src: url('fonts/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('fonts/Poppins-ExtraLightItalic.woff') format('woff'),
        url('fonts/Poppins-ExtraLightItalic.ttf') format('truetype'),
        url('fonts/Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url('fonts/Poppins-SemiBoldItalic.eot');
    src: url('fonts/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-SemiBoldItalic.woff') format('woff'),
        url('fonts/Poppins-SemiBoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('fonts/Poppins-BoldItalic.eot');
    src: url('fonts/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-BoldItalic.woff2') format('woff2'),
        url('fonts/Poppins-BoldItalic.woff') format('woff'),
        url('fonts/Poppins-BoldItalic.ttf') format('truetype'),
        url('fonts/Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: url('fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Regular.woff2') format('woff2'),
        url('fonts/Poppins-Regular.woff') format('woff'),
        url('fonts/Poppins-Regular.ttf') format('truetype'),
        url('fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url('fonts/Poppins-LightItalic.eot');
    src: url('fonts/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('fonts/Poppins-LightItalic.woff') format('woff'),
        url('fonts/Poppins-LightItalic.ttf') format('truetype'),
        url('fonts/Poppins-LightItalic.svg#Poppins-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.eot');
    src: url('fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Bold.woff2') format('woff2'),
        url('fonts/Poppins-Bold.woff') format('woff'),
        url('fonts/Poppins-Bold.ttf') format('truetype'),
        url('fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url('fonts/Poppins-ThinItalic.eot');
    src: url('fonts/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ThinItalic.woff2') format('woff2'),
        url('fonts/Poppins-ThinItalic.woff') format('woff'),
        url('fonts/Poppins-ThinItalic.ttf') format('truetype'),
        url('fonts/Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Black';
    src: url('fonts/Poppins-Black.eot');
    src: url('fonts/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Black.woff2') format('woff2'),
        url('fonts/Poppins-Black.woff') format('woff'),
        url('fonts/Poppins-Black.ttf') format('truetype'),
        url('fonts/Poppins-Black.svg#Poppins-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Light';
    src: url('fonts/Poppins-Light.eot');
    src: url('fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Light.woff2') format('woff2'),
        url('fonts/Poppins-Light.woff') format('woff'),
        url('fonts/Poppins-Light.ttf') format('truetype'),
        url('fonts/Poppins-Light.svg#Poppins-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url('fonts/Poppins-ExtraBold.eot');
    src: url('fonts/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-ExtraBold.woff2') format('woff2'),
        url('fonts/Poppins-ExtraBold.woff') format('woff'),
        url('fonts/Poppins-ExtraBold.ttf') format('truetype'),
        url('fonts/Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display:swap;
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url('fonts/Poppins-Thin.eot');
    src: url('fonts/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Poppins-Thin.woff2') format('woff2'),
        url('fonts/Poppins-Thin.woff') format('woff'),
        url('fonts/Poppins-Thin.ttf') format('truetype'),
        url('fonts/Poppins-Thin.svg#Poppins-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display:swap;
}

/* ************************************************************************* */
/* Integral-Sans */

@font-face {
    font-family: 'Int-Bold';
    src: url(../css/fonts/Integral-CF/Integralcf-bold.otf);
}

@font-face {
    font-family: 'Int-ExtraBold';
    src: url(../css/fonts/Integral-CF/Integralcf-extrabold.otf);
}

@font-face {
    font-family: 'Int-Heavy';
    src: url(../css/fonts/Integral-CF/Integralcf-heavy.otf);
}

@font-face {
    font-family: 'Int-Medium';
    src: url(../css/fonts/Integral-CF/Integralcf-medium.otf);
}

@font-face {
    font-family: 'Int-Regular';
    src: url(../css/fonts/Integral-CF/Integralcf-regular.otf);
}

@font-face {
    font-family: 'Int-SemiBold';
    src: url(../css/fonts/Integral-CF/Integralcf-semibold.otf);
}

/* SF-Pro */

@font-face {
    font-family: 'St-Black';
    src: url(../css/fonts/satoshi/Satoshi-Black.otf);
}

@font-face {
    font-family: 'St-Bold';
    src: url(../css/fonts/satoshi/Satoshi-Bold.otf);
}

@font-face {
    font-family: 'St-Regular';
    src: url(../css/fonts/satoshi/Satoshi-Light.otf);
}

@font-face {
    font-family: 'St-Medium';
    src: url(../css/fonts/satoshi/Satoshi-Medium.otf);
}

@font-face {
    font-family: 'St-Regular';
    src: url(../css/fonts/satoshi/Satoshi-Regular.otf);
}

/* ************************************************ */

img{max-width:100%;}
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea,
.input-checkbox {
    outline:0;
}
h1,h2,h3,h4,h5,h6,p{margin:0px;}
input:focus{outline:0;}
textarea:focus{outline:0;}
button:focus{outline:0;}
a{cursor: pointer;text-decoration:none;transition:all 0.5s ease;}
a:focus, a:hover{text-decoration:none;outline:0;}
.TC{text-align:center;}
.TL{text-align:left;}
.TR{text-align:right;}
.margin_auto{margin:auto;float:none;}
.padding{padding:0;}
.al{width:100%;height:100%;display:table;}
.alm{width:100%;height:100%;display:table-cell;vertical-align:middle;}
abbr[title] {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
body{
    font-family: 'St-Regular';
}
.p_0{
    padding: 0px;
}
.pl-0{
    padding-left: 0px;
}
li
{
    list-style: none;
}
.main{
    width: 100%;
}
.container{
    width: 100%;
    /* max-width: 1170px; */
    max-width: 95%;
    margin: 0px auto;
}

/* ******************************************************************************************** */
/* common elements */
::-webkit-scrollbar{width: 10px;}
::-webkit-scrollbar-track{background: transparent;} 
::-webkit-scrollbar-thumb{background: #888;} 

.heading
{
    text-align: center;
}

.heading h3
{
    color: #181C1F;
    font-family: 'Int-Bold';
    font-size: 40px;
    margin-bottom: 10px;
}

.heading h5
{
    color: #a4a4a4;
    font-family: 'St-Regular';
    font-size: 18px;
    margin-bottom: 10px;
}

.btn
{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
    margin: 0 auto;
}

.btn a
{
    color: #fff;
    background-color: #181C1F;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 17px;
}

ul
{
    margin: 0;
    padding: 0;
}

/* ******************************************************************************************** */
.sign-up-offer
{
    width: 100%;
    color: #fff;
    background-color: #181C1F;
    text-align: center;
    padding: 8px 0px;
}

.sign-up-offer-content
{
    display: flex;
    justify-content: center;
}

.sign-up-offer-line p
{
    color: #fff;
    font-size: 15px;
    font-family: 'St-Regular';
    letter-spacing: 0.3px;
}

.sign-up-offer-line a
{
    color: #fff;
    font-size: 15px;
    font-family: 'St-Regular';
    letter-spacing: 0.3px;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;
}

.sign-up-offer-line a:hover
{
    color: #20A0FD;
    border-bottom: 1px solid #20A0FD;
}

.sign-up-offer-close-btn
{
    display: flex;
    align-items: center;
}

.sign-up-offer-close-btn button
{
    color: #fff;
    position: absolute;
    right: 40px;
    border: none;
    background: none;
}

/* ******************************************************************************************** */
.header {
    width: 100%;
    box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
    background-color: #fff;
}

.nav-only-mobile
{
    display: none;
}

/*=============== NAV ===============*/
.nav
{
    /* padding: 15px 30px; */
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20%; */
}

.nav-data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: inline-flex;
    align-items: center;
    color: #181C1F;
    font-family: 'Int-Bold';
    font-size: 30px;
    transition: color 0.3s;
}

.nav-logo:hover
{
    color: #181C1F;
}

.nav-toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav-toggle-menu,
.nav-toggle-close {
    font-size: 25px;
    color: #181C1F;
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
}

.nav-toggle-close {
    opacity: 0;
}

@media screen and (max-width: 1118px) {
    .nav-data
    {
        width: 100%;
    }

    .nav-menu {
        background-color: var(--body-color);
        position: absolute;
        left: 0;
        top: 2.5rem;
        width: 100%;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        padding-block: 1.5rem 4rem;
        pointer-events: none;
        opacity: 0;
        /* transition: top 0.4s, opacity 0.3s; */
    }

    .nav-menu::-webkit-scrollbar {
        width: 0.5rem;
    }

    .nav-menu::-webkit-scrollbar-thumb {
        background-color: hsl(220, 12%, 70%);
    }

    .nav-dektop
    {
        display: none;
    }

}

.nav-mobile-view
{
    display: none;
}

.nav-desktop-view
{
    display: flex;
    align-items: center;
}

.nav-responsive-view
{
    display: flex;
    gap: 30px;
}

.nav-link {
    color: #181C1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'St-Regular';
    font-size: 16px;
}

.nav-link:hover
{
    color: #181C1F;
}

.nav-menu
{
    display: flex;
    align-items: center;
}

.nav-list
{
    margin: 0px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-menu {
    opacity: 1;
    top: 115px;
    padding-left: 30px;
    pointer-events: initial;
    background-color: #F2F0F1;
    z-index: 100;
}

.show-icon .nav-toggle-menu {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav-toggle-close {
    opacity: 1;
    transform: rotate(90deg);
}

.search-item input
{
    width: 100%;
    background-color: #F0F0F0;
    border: none;
    padding: 10px 20px;
    padding-left: 45px;
    border-radius: 7px;
}

.search-item i {
    position: absolute;
    padding-top: 13px;
    padding-left: 15px;
}

.cart
{
    font-size: 18px;
}

.avtar
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.main-links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-search
{
    padding: 0px 20px;
}

.main-cart-avtar
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner
{
    padding: 30px;
}

.carousel-inner
{
    border-radius: 10px;
}

.carousel-item img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.carousel-control-prev
{
    color: #181C1F;
    background-color: #fff;
    width: 50px;
    height: 100px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    margin: auto 0;
    opacity: 1;
}

.carousel-control-next
{
    color: #181C1F;
    background-color: #fff;
    width: 50px;
    height: 100px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: left;
    padding-left: 20px;
    margin: auto 0;
    opacity: 1;
}

.carousel-control-prev:hover
{
    color: #181C1F;
    opacity: 1;
}

.carousel-control-next:hover
{
    color: #181C1F;
    opacity: 1;
}

.brand
{
    width: 100%;
    max-height: 100px;
}

.brand-logo
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo img
{
    padding: 30px 0px;
}

.brand-content
{
    background-color: #181C1F;
    padding: 30px;
}

.brand-track {
    /* position: absolute; */
    /* will-change: transform; */
    white-space: nowrap;
    animation: marquee 8s linear infinite;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .brand-track p
{
    color: #fff;
    font-family: 'Int-Regular';
    letter-spacing: 2px;
    font-size: 40px;
} */

.brand-track img
{
    color: #fff;
    font-family: 'Int-Regular';
    letter-spacing: 2px;
    font-size: 40px;
}

/* @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
} */

/* *************************************** New Collection ********************************************* */

.new-collection
{
    padding: 70px 0px;
}

.coll-heading
{
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
}

.coll-heading h3
{
    color: #181C1F;
    font-family: 'Int-Bold';
    font-size: 40px;
    margin-bottom: 10px;
}

.coll-heading h5
{
    color: #a4a4a4;
    font-family: 'St-Regular';
    font-size: 18px;
    margin-bottom: 10px;
}

.coll-card-cnt
{
    margin-bottom: 30px;
}

.coll-card-cnt img
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.card-mobile-view
{
    display: none;
}

.coll-card-txt
{
    text-align: left;
}

.coll-card-txt h4
{
    color: #181C1F;
    font-size: 22px;
    font-family: 'St-Bold';
    margin-bottom: 5px;
}

.coll-card-txt h6
{
    width: 300px;
    color: #a4a4a4;
    font-size: 15px;
    font-family: 'St-Regular';
    line-height: 20px;
    margin-bottom: 5px;
}

.coll-card-price
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.coll-card-price h5
{
    color: #181C1F;
    font-size: 18px;
    font-family: 'St-Bold';
}

.coll-card-price h6
{
    width: 30px;
    color: rgb(17, 16, 19, 0.5);
    font-size: 18px;
    font-family: 'St-Bold';
    margin-top: 3px;
}

.coll-card-price-discount p
{
    color: #FF3333;
    background-color: rgb(255, 51, 51, 0.1);
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 30px;
}

/* ***************************** facility ************************************ */

.facility
{
    padding: 60px 0px;
}

.facility-content
{
    color: #fff;
    background-color: #181C1F;
    border-radius: 15px;
    padding: 50px 80px;
    text-align: center;
}

.facility-card-cnt i
{
    width: 100%;
    font-size: 30px;
    color: #e3e3e3;
    margin-bottom: 15px;
}

.facility-card-cnt h6
{
    width: 100%;
    color: #e3e3e3;
    font-size: 20px;
    font-family: 'St-Bold';
    margin-bottom: 6px;
}

.facility-card-cnt p
{
    width: 250px;
    color: #e3e3e3;
    font-size: 14px;
    font-family: 'St-Regular';
    margin: 0 auto;
    text-align: center;
}


/* ***************************** wear to weding ************************************ */

.wear-to-wedding
{
    padding: 40px 0px;
    padding-bottom: 100px;
}

.wedding-outfit-img img
{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}


/* ***************************** different sectioin ************************************ */

.different-section
{
    padding: 70px 0px;
}

.diff-sec-cnt
{
    margin-bottom: 20px;
}

.different-section-content .col-lg-8, .col-lg-4
{
    padding: 0px 10px;
}

.diff-sec-img img
{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;

    position: relative;
}

.diff-sec-txt
{
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 10;
}

.diff-sec-txt h3
{
    color: #fff;
    font-family: 'St-Bold';
    margin-bottom: 10px;
    margin-left: 5px;
}

.diff-btn
{
    padding: 0;
    display: flex;
    justify-content: left;
}

.diff-btn a
{
    color: #181C1F;
    background-color: #fff;
    padding: 7px 20px;
}

/* ************************** happy customer slider *************************** */

.happy-customer
{
    /* padding: 30px 0px; */
    padding-bottom: 70px;
}

.happy-customer-head
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.customer-slider-arrow button
{
    border: none;
    background: none;
}

.customer-slider-arrow i
{
    font-size: 25px;
    padding-right: 10px;
}

.happy-customer-head h3
{
    text-align: left;
}

.customer-slider-cnt
{
    padding: 30px;
    margin: 0px 10px;
    border: 1px solid rgb(0, 0, 0, 0.2);
    border-radius: 15px;
}

.customer-five-star img
{
    width: 120px;
    margin-bottom: 10px;
}

.customer-name-tick
{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.customer-name-tick h5
{
    color: #181C1F;
    font-size: 20px;
    font-family: 'St-Bold';
}

.name-blue-tick img
{
    width: 20px;
}

.customer-paragraph p
{
    color: #181C1F;
    font-size: 15px;
    font-family: 'St-Regular';

}

/* ******************************* footer *********************************** */

.footer
{
    background-color: #F0F0F0;
    padding: 50px 0px;
}

.footer-paragraph h3
{
    color: #181C1F;
    font-size: 30px;
    font-family: 'Int-Bold';
    margin-bottom: 15px;
}

.footer-paragraph p
{
    color: #606060;
    font-size: 17px;
    font-family: 'St-Regular';
    margin-bottom: 15px;
}

.footer-social-media i
{
    color: #181C1F;
    font-size: 22px;
    margin-right: 10px;
}

.footer-links
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.footer-links h5
{
    color: #000;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: 'St-Bold';
    margin-bottom: 20px;
}

.footer-links li
{
    margin-bottom: 5px;
}

.footer-links a
{
    color: #606060;
    font-size: 16px;
    font-family: 'St-Regular';
}

.copyright
{
    color: #cfcfcf;
    background-color: #181C1F;
    padding: 20px 0px;
}

.copyright-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-content h6
{
    color: #cfcfcf;
    font-size: 15px;
    font-family: 'St-Regular';
    letter-spacing: 0.5px;
}

.copyright-terms-condition ul
{
    display: flex;
    align-items: center;
    margin: 0;
    gap: 30px;
}

.copyright-terms-condition a
{
    color: #cfcfcf;
    /* margin-left: 30px; */
    font-size: 15px;
    font-family: 'St-Regular';
}

.copyright-terms-condition a:hover
{
    color: #20A0FD;
    text-decoration: underline;
}

/* ==================================================================================================================================================================================================================== */

.product-details
{
    padding: 30px 0px;
}

.page-path h6
{
    color: #606060;
    font-size: 15px;
    font-family: 'St-Regular';

    display: flex;
    align-items: center;
}

.page-path span
{
    color: #000;
    font-family: 'St-Bold';
}

.product-img
{
    display: flex;
}

.product-child-img
{
    width: 140px;
}

.product-child-img img
{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.product-perent-img
{
    width: 450px;
    margin-left: 15px;
}

.product-perent-img img
{
    width: 100%;
    border-radius: 15px;
}

.product-name h3
{
    color: #181C1F;
    font-size: 35px;
    font-family: 'Int-Bold';
    margin-bottom: 10px;
}

.product-rating
{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

.product-rating-txt h6
{
    color: #181C1F;
    font-size: 15px;
    font-family: 'St-Regular';
}

.product-rating-txt span
{
    color: #919191;
}

.product-price
{
    margin-bottom: 10px;
}

.product-main-price
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-main-price h5
{
    color: #181C1F;
    font-size: 25px;
    font-family: 'St-Bold';
}

.product-main-price h6
{
    width: 30px;
    color: #606060;
    font-size: 20px;
    font-family: 'St-Bold';
    margin-right: 10px;
}

.product-price-discount p
{
    max-width: 50px;
    color: #FF3333;
    background-color: rgb(255, 51, 51, 0.1);
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 30px;
}

.product-rating img
{
    width: 100px;
}

.product-paragraph p
{
    color: #181C1F;
    font-size: 18px;
    font-family: 'St-Regular';
}

.product-color h5
{
    color: #181C1F;
    font-size: 20px;
    font-family: 'St-Bold';
    margin-bottom: 10px;
}

.product-color-main-boxes
{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-color-box-one
{
    width: 30px;
    height: 30px;
    background-color: #4F4631;
    border-radius: 50%;
}

.product-color-box-two
{
    width: 30px;
    height: 30px;
    background-color: #314F4A;
    border-radius: 50%;
}

.product-color-box-three
{
    width: 30px;
    height: 30px;
    background-color: #31344F;
    border-radius: 50%;
}

.product-size h5
{
    color: #181C1F;
    font-size: 20px;
    font-family: 'St-Bold';
    margin-bottom: 10px;
}

.product-size-box
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.product-size-box h6
{
    color: #606060;
    background-color: #F0F0F0;
    font-size: 16px;
    font-family: 'St-Regular';
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.product-size-box .active
{
    color: #f0f0f0;
    background-color: #181C1F;
}

.product-item{
    position: relative;
}
.product-item input
{
    width: 150px;
    background-color: #F0F0F0;
    border: none;
    padding: 15px 20px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 7px;
}

.product-item .btn-minus {
    border: none;
    background: none;
    position: absolute;
    left: 15px;
    bottom: 10px;
    font-size: 20px;
}

.product-item .btn-plus {
    border: none;
    background: none;
    position: absolute;
    left: 110px;
    bottom: 10px;
    font-size: 20px;
}

.product-item i
{
    color: #000;
}

::placeholder
{
    text-align: center;
    color: #000;
    font-size: 18px;
}

.product-add-to-cart
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.product-add-btn a
{
    color: #f0f0f0;
    background-color: #181C1F;
    padding: 15px 100px;
    border-radius: 10px;
}

/* **************************************************************************** */

.client-section
{
    padding: 30px 0px;
    /* padding-bottom: 50px; */
}

.client-tab-list ul
{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    padding-left: 0px;
}

.client-link.active
{
    color: #181C1F;
    border-bottom: 3px solid #000;
    padding-bottom: 12px;
    transition: none;
    font-size: 18px;
    font-family: 'St-Bold';
    /* padding: 12px 40px; */
}

.client-link
{
    color: #606060;
    font-size: 18px;
    font-family: 'St-Regular';
}

.client-tab-cnt{
    display: none;
}

.client-tab-cnt.active{
    display: block;
}

.client-tab-cnt .container
{
    width: 90%;
    margin: 0 auto;
}

.client-sec-dtl
{
    padding: 20px 0px;
}

.client-review-head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.client-review-head h4
{
    color: #181C1F;
    font-size: 20px;
    font-family: 'St-Bold';
}

.client-review-head span
{
    color: #606060;
    font-size: 14px;
    font-family: 'St-Regular';
}

.review-head-btn button
{
    color: #fff;
    background-color: #181C1F;
    padding: 10px 30px;
    border-radius: 10px;
}

.review-card-cnt
{
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.review-five-star img
{
    width: 120px;
    margin-bottom: 10px;
}

.review-name
{
    display: flex;
    gap: 7px;
    margin-bottom: 10px;
}

.review-name h5
{
    color: #181C1F;
    font-size: 23px;
    font-family: 'St-Bold';
}

.review-card-blue-tick img
{
    width: 16px;
}

.review-paragraph p
{
    color: #606060;
    font-size: 16px;
    font-family: 'St-Regular';
    margin-bottom: 10px;
}

.review-date h4
{
    color: #606060;
    font-size: 15px;
    font-family: 'St-Medium';
}

.review-card-more-btn
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.review-card-more-btn a
{
    color: #181C1F;
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px 40px;
}

.review-card-more-btn a:hover
{
    color: #fff;
    background-color: #181C1F;
    border: 1px solid #181C1F;
    border-radius: 10px;
    padding: 10px 40px;
}

/* ********************************************************************* */

.also-like
{
    padding: 30px;
}

.also-head
{
    margin-bottom: 40px;
}

/* ==================================================================================================================================================================================================================== */
.category-main
{
    padding: 30px 0px;
}

.category-card
{
    padding: 30px 0px;
}

.category-card-head
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.category-card-head h3
{
    color: #181C1F;
    font-size: 30px;
    font-family: 'St-Black';
}

.category-card-head h5
{
    color: #606060;
    font-size: 15px;
}

.category-sorting
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.category-sorting select
{
    color: #181C1F;
    font-size: 15px;
    font-family: 'St-Medium';
    border: none;
}

.category-pagination
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.category-prev-btn a
{
    color: #181C1F;
    font-size: 16px;
    font-family: 'St-Medium';
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 10px;
}

.category-next-btn a
{
    color: #181C1F;
    font-size: 16px;
    font-family: 'St-Medium';
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 10px 20px;
    border-radius: 10px;
}

.category-page-number
{
    display: flex;
    align-items: center;
}

.category-page-number ul
{
    display: flex;
    /* gap: 30px; */
}

.category-page-number a
{
    color: #808080;
    font-size: 16px;
    font-family: 'St-Regular';
    padding: 8px 15px;
}

.page-no.active
{
    color: #000;
    background-color: #f0f0f0;
    padding: 8px 15px;
    border-radius: 10px;
}

/* ******************************************************************** */

.category-filter
{
    border: 2px solid #e5e5e5;
    margin-top: 25px;
    border-radius: 10px;
    padding: 20px;
}

.category-filter-head h3
{
    color: #181C1F;
    font-size: 22px;
    font-family: 'St-Bold';
    margin-bottom: 30px;
}
  
.filter-list button {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    padding: 7px 20px;
    padding-left: 0px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.filter-list button:after {
    color: #606060;
    font-family: FontAwesome;
    content: "\f054";
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
}

.filter-list button.is-open:after {
    content: "\f077";
}

.filter-content {
    border-left: 3px solid #181C1F;
    padding: 0 10px;
    margin-left: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

/* =================================== */
.filter-content-other {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
/* ========================================= */
.filter-price button,
.filter-color button,
.filter-size button,
.filter-style button
{
    color: #181C1F;
    font-size: 20px;
    font-family: 'St-Bold';
}

.price-cnt,
.color-cnt,
.size-cnt,
.style-cnt
{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* =============================================== */

.filter-price-content
{
    margin-top: 30px;
    border-left: none;
}

.filter-color-codes
{
    display: flex;
    align-items: center;
    gap: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.filter-color-green
{
    width: 40px;
    height: 40px;
    background-color: #00C12B;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.filter-color-red
{
    width: 40px;
    height: 40px;
    background-color: #F50606;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.filter-color-yellow
{
    width: 40px;
    height: 40px;
    background-color: #F5DD06;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.filter-color-orange
{
    width: 40px;
    height: 40px;
    background-color: #F57906;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.filter-color-skyblue
{
    width: 40px;
    height: 40px;
    background-color: #20A0FD;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.filter-color-blue
{
    width: 40px;
    height: 40px;
    background-color: #063AF5;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.filter-color-purple
{
    width: 40px;
    height: 40px;
    background-color: #7D06F5;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.filter-color-pink
{
    width: 40px;
    height: 40px;
    background-color: #F506A4;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.filter-color-white
{
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.filter-color-black
{
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
}

.filter-size-box
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.filter-size-box h6
{
    color: #606060;
    background-color: #F0F0F0;
    font-size: 16px;
    font-family: 'St-Regular';
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 10px;
}

.style-cnt .filter-list button
{
    color: #333;
    font-size: 16px;
    font-family: 'St-Regular';
}

.filter-apply-btn
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.filter-apply-btn a
{
    color: #fff;
    background-color: #181C1F;
    border: 1px solid #181C1F;
    font-size: 16px;
    font-family: 'St-Regular';
    padding: 10px 30px;
    border-radius: 10px;
    letter-spacing: 1px;
}

.filter-apply-btn a:hover
{
    color: #181C1F;
    background-color: transparent;
    border: 1px solid #181C1F;
}

.wrapper {
    width: 400px;
    background: #fff;
    border-radius: 10px;
    padding: 20px 25px 40px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.1);
}

header h2 {
    font-size: 24px;
    font-weight: 600;
}

header p {
    margin-top: 5px;
    font-size: 16px;
}

.price-input {
    width: 100%;
    display: flex;
    margin: 0px 0 20px;
}

.price-input .field {
    /* display: flex; */
    width: 100%;
    /* height: 45px; */
    align-items: center;
}

/* .price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
} */

.field input {
    width: 100%;
    /* height: 100%; */
    outline: none;
    padding: 5px 0px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

.field span
{
    color: #181C1F;
    font-size: 16px;
    font-family: 'St-Medium';
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator {
    /* width: 2px;
    height: 60px; */
    margin: 15px 20px 0px;
    color: #878787;
    /* background: rgb(0, 0, 0, 0.2); */
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.price-slider {
    height: 4px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.price-slider .progress {
    height: 100%;
    left: 11%;
    right: 39%;
    position: absolute;
    border-radius: 5px;
    background: #181C1F;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #181C1F;
    pointer-events: auto;
    cursor: pointer;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background: #181C1F;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* ==================================================================================================================================================================================================================== */


.cart-details-main
{
    padding: 30px 0px;
    padding-bottom: 100px;
}

.cart-head h3
{
    color: #181C1F;
    font-size: 30px;
    font-family: 'Int-Bold';
    margin-top: 30px;
    margin-bottom: 30px;
}

.cart-dtl
{
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    padding: 25px;
}

.cart-dtl hr
{
    margin: 25px 0px;
}

.cart-item-name-sec
{
    display: flex;
}

.cart-item-img img
{
    width: 100%;
}

.cart-item-name
{
    width: 100%;
    margin: auto;
    margin-left: 20px;
}

.cart-item-name h4
{
    color: #181C1F;
    font-size: 23px;
    font-family: 'St-Bold';
    margin-bottom: 5px;
}

.cart-item-name h6
{
    color: #181C1F;
    font-size: 16px;
    font-family: 'St-Regular';
}

.cart-item-name h6 span
{
    color: #666666;
    font-size: 14px;
    font-family: 'St-Regular';
}

.cart-item-name h3
{
    color: #181C1F;
    font-size: 25px;
    font-family: 'St-Bold';
    margin-top: 15px;
}

.cart-item-delete-sec
{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

.cart-item-del-btn
{
    width: 100%;
    display: flex;
    justify-content: right;
}

.cart-item-del-btn i
{
    color: #FF2828;
    font-size: 20px;
    margin-bottom: 30px;
}

.item-name-delete
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-name-delete i
{
    color: #FF2828;
    font-size: 20px;
}

.item-price-calc
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .cart-items
{
    display: flex;
    justify-content: space-between;
} */

.cart-item-calc{
    position: relative;
}

.cart-item-calc input
{
    width: 150px;
    background-color: #F0F0F0;
    border: none;
    padding: 8px 15px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 7px;
}

.cart-item-calc .btn-minus {
    border: none;
    background: none;
    position: absolute;
    left: 15px;
    bottom: 7px;
}

.cart-item-calc .btn-plus {
    border: none;
    background: none;
    position: absolute;
    left: 110px;
    bottom: 7px;
}

.cart-item-calc i
{
    color: #000;
}

::placeholder
{
    text-align: center;
    color: #000;
    font-size: 18px;
}

.cart-payment-head h3
{
    color: #181C1F;
    font-size: 25px;
    font-family: 'St-Bold';
    margin-bottom: 20px;
}

.cart-pay-price, .cart-pay-total
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-pay-price h5
{
    color: #606060;
    font-size: 20px;
    font-family: 'St-Regular';
}

.cart-pay-price h4
{
    color: #181C1F;
    font-size: 20px;
    font-family: 'St-Bold';
}

.cart-pay-price.discount h4
{
    color: red;
    font-size: 20px;
    font-family: 'St-Bold';
}

.cart-pay-total h5
{
    color: #181C1F;
    font-size: 20px;
    font-family: 'St-Regular';
}

.cart-pay-total h4
{
    color: #181C1F;
    font-size: 25px;
    font-family: 'St-Bold';
}

.cart-promo-code
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cart-promo-input{
    position: relative;
}

.cart-promo-input input
{
    width: 330px;
    background-color: #F0F0F0;
    border: none;
    padding: 10px 15px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 7px;
}

.cart-promo-input .btn-minus{
    color: #909090;
    border: none;
    background: none;
    position: absolute;
    font-size: 25px;
    left: 20px;
    bottom: 3px;
}

.cart-promo-input ::placeholder
{
    color: #909090;
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
}

.cart-promo-btn.btn
{
    margin: 0;
}

.cart-check-out
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-check-out a
{
    color: #fff;
    width: 100%;
    background-color: #181C1F;
    padding: 15px 100px;
    border-radius: 10px;
}



























































































































